@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* VM card */
.card {
  @apply w-full h-[22.5em] transition-[1s] duration-[ease-in-out] flex flex-row rounded-tr-[20px] rounded-bl-[20px] my-5 border-2 border-black;
  background: transparent;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
}

.navbutton {
  @apply relative before:content-[''] before:absolute before:w-full before:h-0.5 before:bg-white before:origin-center before:-translate-x-2/4 before:translate-y-0 before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-0 before:left-2/4 before:bottom-0 hover:before:-translate-x-2/4 hover:before:translate-y-0 hover:before:scale-x-100;
}


.inputdiv {
  @apply relative;
}
.contactinput {
  @apply w-full text-[black] text-[inherit] bg-transparent border border-b-gray-300 border-solid border-transparent;
  font-family: inherit;
}
.contactinput:focus {
  outline: none;
}
.contactinput::placeholder {
  @apply text-[hsla(0,0%,100%,0.6)];
}
.contactinputspan {
  @apply absolute h-px bg-green-500 origin-bottom-right transition-transform duration-[0.5s] ease-[ease] scale-x-0 bottom-0 inset-x-0;
}
.contactinput:focus ~ .contactinputspan {
  @apply origin-bottom-left scale-x-100;
}



.textareadiv {
  @apply relative;
}
.tarea {
  @apply w-full text-[black] text-[inherit] bg-transparent focus:border-none border border-b-gray-300 transition-[background-color] duration-[0.3s] ease-[ease-in-out] px-[0.45em] py-[0.35em] border-solid border-transparent;
  font-family: inherit;
}
.tarea:focus {
  outline: none;
}
.tarea::placeholder {
  @apply text-[hsla(0,0%,100%,0.6)];
}
.tareaspan {
  @apply absolute bg-green-500 transition-transform duration-[0.1s] ease-[ease];
}
.tareabottom,
.tareatop {
  @apply h-px scale-x-0 inset-x-0;
}
.tarealeft,
.tarearight {
  @apply w-px scale-y-0 inset-y-0;
}
.tareabottom {
  @apply origin-bottom-right bottom-0;
}
.tarea:focus ~ .tareabottom {
  @apply origin-bottom-left scale-x-100;
}
.tarearight {
  @apply origin-top-right delay-[0.05s] right-0;
}
.tarea:focus ~ .tarearight {
  @apply origin-bottom-right scale-y-100;
}
.tareatop {
  @apply origin-top-left delay-[0.15s] top-0;
}
.tarea:focus ~ .tareatop {
  @apply origin-top-right scale-x-100;
}
.tarealeft {
  @apply origin-bottom-left delay-[0.25s] left-0;
}
.tarea:focus ~ .tarealeft {
  @apply origin-top-left scale-y-100;
}




@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

